conversor/arquivos/VXDL-bkp-1-09-14.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Specification of a VXDL file (version 2.0) -->
<!-- Copyright (c) 2010-2011 VXDLforum.org -->
<!-- Licensed under the Open Software License version 3.0 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:vxdl="http://www.vxdlforum.org/vxdl" targetNamespace="http://www.vxdlforum.org/vxdl"
	elementFormDefault="qualified">

	<!-- description (file element) -->
	<xs:element name="description" type="vxdl:description"></xs:element>
	<xs:complexType name="description">
		<xs:sequence>
			<xs:element name="virtualInfrastructure" type="vxdl:virtualInfrastructure"
				minOccurs="1" maxOccurs="1">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- virtual infrastructure (root element) -->
	<xs:complexType name="virtualInfrastructure">
		<xs:sequence>
			<xs:group ref="vxdl:common"></xs:group>
			<xs:element name="owner" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="user" type="xs:string" minOccurs="0"
				maxOccurs="unbounded"></xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="vNode" type="vxdl:vNode"></xs:element>
				<xs:element name="vAccessPoint" type="vxdl:vAccessPoint"></xs:element>
				<xs:element name="vRouter" type="vxdl:vRouter"></xs:element>
				<xs:element name="vStorage" type="vxdl:vStorage"></xs:element>
				<xs:element name="vLink" type="vxdl:vLink"></xs:element>
				<xs:element name="vArray" type="vxdl:vArray" minOccurs="0"
					maxOccurs="unbounded"></xs:element>
			</xs:choice>
			<xs:element name="timeline" type="vxdl:timeline"
				minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- vArray definition -->
	<xs:complexType name="vArray">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="1"
				maxOccurs="1"></xs:element>
			<xs:element name="location" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="cardinality" type="xs:integer"
				minOccurs="1" maxOccurs="1"></xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="vNode" type="vxdl:vNode"></xs:element>
				<xs:element name="vAccessPoint" type="vxdl:vAccessPoint"></xs:element>
				<xs:element name="vRouter" type="vxdl:vRouter"></xs:element>
				<xs:element name="vStorage" type="vxdl:vStorage"></xs:element>
				<xs:element name="vLink" type="vxdl:vLink"></xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<!-- vResource definition -->
	<xs:group name="vResource">
		<xs:sequence>
			<xs:group ref="vxdl:common"></xs:group>
			<xs:element name="model" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="exclusivity" type="xs:boolean"
				minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="tag" type="vxdl:tag" minOccurs="0"
				maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:group>

	<!-- Tags definition -->
	<xs:complexType name="tag">
		<xs:sequence>
			<xs:element name="key" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="value" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- vNode definition -->
	<xs:complexType name="vNode">
		<xs:sequence>
			<xs:group ref="vxdl:vResource"></xs:group>
			<xs:element name="device" type="xs:string" minOccurs="0"
				maxOccurs="unbounded"></xs:element>
			<xs:element name="image" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="region" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="memory" type="vxdl:capacity" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="storage" type="vxdl:capacity" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="cpu" type="vxdl:cpu" minOccurs="0"
				maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- vStorage definition -->
	<xs:complexType name="vStorage">
		<xs:sequence>
			<xs:group ref="vxdl:vResource"></xs:group>
			<xs:element name="type" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="image" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="region" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="size" type="vxdl:capacity" minOccurs="0"
				maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- vLink definition -->
	<xs:complexType name="vLink">
		<xs:sequence>
			<xs:group ref="vxdl:vResource"></xs:group>
			<xs:element name="source" type="xs:string" minOccurs="1"
				maxOccurs="1"></xs:element>
			<xs:element name="destination" type="xs:string" minOccurs="1"
				maxOccurs="1"></xs:element>
			<xs:element name="bandwidth" type="vxdl:bandwidth"
				minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="latency" type="vxdl:capacity" minOccurs="0"
				maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- vRouter definition -->
	<xs:complexType name="vRouter">
		<xs:sequence>
			<xs:group ref="vxdl:vResource"></xs:group>
			<xs:element name="region" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="memory" type="vxdl:capacity" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="controlPlane" type="vxdl:controlPlane"
				minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- vAccessPoint definition -->
	<xs:complexType name="vAccessPoint">
		<xs:sequence>
			<xs:group ref="vxdl:vResource"></xs:group>
			<xs:element name="region" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="loadBalancer" type="vxdl:loadBalancer"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="nat" type="vxdl:nat" minOccurs="1"
					maxOccurs="1" />
				<xs:element name="masquerade" type="vxdl:masquerade"
					minOccurs="1" maxOccurs="unbounded" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<!-- Load Balancer definition -->
	<xs:complexType name="loadBalancer">
		<xs:sequence>
			<xs:element name="inEndpoint" type="xs:string" minOccurs="0"
				maxOccurs="unbounded"></xs:element>
			<xs:element name="region" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="addressNumber" type="xs:integer"
				minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Load Balancer definition -->
	<xs:complexType name="nat">
		<xs:sequence>
			<xs:element name="inEndpoint" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="inPort" type="xs:integer" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="protocol" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="region" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="outPort" type="xs:integer" minOccurs="0"
				maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Load Balancer definition -->
	<xs:complexType name="masquerade">
		<xs:sequence>
			<xs:element name="inEndpoint" type="xs:string" minOccurs="0"
				maxOccurs="unbounded"></xs:element>
			<xs:element name="region" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Control Plane definition -->
	<xs:complexType name="controlPlane">
		<xs:sequence>
			<xs:element name="layer" type="xs:string" minOccurs="1"
				maxOccurs="1"></xs:element>
			<xs:element name="type" type="xs:string" minOccurs="1"
				maxOccurs="1"></xs:element>
			<xs:element name="routingProtocol" type="xs:string"
				minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="routingTable" type="vxdl:routingTable"
				minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Routing Table definition -->
	<xs:complexType name="routingTable">
		<xs:sequence>
			<xs:element name="rtSize" type="xs:integer" minOccurs="1"
				maxOccurs="1"></xs:element>
			<xs:element name="route" type="vxdl:route" minOccurs="0"
				maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Route definition -->
	<xs:complexType name="route">
		<xs:sequence>
			<xs:element name="source" type="xs:string" minOccurs="1"
				maxOccurs="1"></xs:element>
			<xs:element name="destination" type="xs:string" minOccurs="1"
				maxOccurs="1"></xs:element>
			<xs:element name="vLinkIn" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="vLinkOut" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Bandwidth definition -->
	<xs:complexType name="bandwidth">
		<xs:sequence>
			<xs:element name="forward" type="vxdl:capacity" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="reverse" type="vxdl:capacity" minOccurs="0"
				maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- CPU definition -->
	<xs:complexType name="cpu">
		<xs:sequence>
			<xs:element name="architecture" type="xs:string"
				minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="cores" type="vxdl:capacity" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="frequency" type="vxdl:capacity"
				minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Capacity definition -->
	<xs:complexType name="capacity">
		<xs:sequence>
			<xs:element name="unit" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="event" type="xs:string" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:choice>
				<xs:element name="interval" type="vxdl:interval"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="simple" type="xs:double" minOccurs="1"
					maxOccurs="1" />
				<xs:element name="set" type="xs:double" minOccurs="1"
					maxOccurs="unbounded" />
				<xs:element name="scale" type="vxdl:scale" minOccurs="1"
					maxOccurs="1" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<!-- Interval of values -->
	<xs:complexType name="interval">
		<xs:sequence>
			<xs:element name="min" type="xs:double" minOccurs="0"
				maxOccurs="1"></xs:element>
			<xs:element name="max" type="xs:double" minOccurs="0"
				maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Scale of values -->
	<xs:complexType name="scale">
		<xs:sequence>
			<xs:element name="min" type="xs:double" minOccurs="1"
				maxOccurs="1"></xs:element>
			<xs:element name="max" type="xs:double" minOccurs="1"
				maxOccurs="1"></xs:element>
			<xs:element name="step" type="xs:double" minOccurs="1"
				maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Timeline of a virtual infrastructure -->
	<xs:complexType name="timeline">
		<xs:sequence>
			<xs:element name="event" type="vxdl:event" minOccurs="1"
				maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Event of a timeline -->
	<xs:complexType name="event">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="1"
				maxOccurs="1"></xs:element>
			<xs:element name="delay" type="xs:double" minOccurs="1"
				maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Common attributed for vResource and virtualInfrastructure -->
	<xs:group name="common">
		<xs:sequence>
			<xs:element name="id" type="xs:string" maxOccurs="1"
				minOccurs="1"></xs:element>
			<xs:element name="location" type="xs:string" maxOccurs="1"
				minOccurs="0"></xs:element>
			<xs:element name="startDate" type="xs:dateTime" maxOccurs="1"
				minOccurs="0"></xs:element>
			<xs:element name="totalTime" type="xs:duration" maxOccurs="1"
				minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:group>
</xs:schema>
